.swiper.catalog-categories
    .swiper-wrapper
        a(href="#").swiper-slide Кольца
        a(href="#").swiper-slide Серьги
        a(href="#").swiper-slide.current Браслеты
        a(href="#").swiper-slide Колье
        a(href="#").swiper-slide Каффы и Клаймберы