.filters
    .container
        .filers__wrapper
            div.filters__sort
                p.filters__sort Сортировать
            div.filters__filter
                div
                    p Сбросить фильтры

                div
                    p Фильтр