.pagination
    p.pagination__text Вы просмотрели 12 из 95 товаров
    .progress(data-max="95").pagination__progress
        input(type="hidden" value="12")
        span
    button.btn.btn--outline.pagination__btn Загрузить еще
