#filters {
  position: relative;
  height: 60px;
  margin-bottom: 40px;
}

.filters {
  background: #fff;

  @include media-down(md) {
    margin-bottom: 30px;
  }

  @include media-down(xs) {
    transition: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.09));
    z-index: 10;
    margin-bottom: 40px;

    &--fixed {
      position: fixed;
      top: 60px;
      transition: 300ms;
    }
  }

  &__sect {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 34px 0;

    @include media-down(md) {
      padding: 21px 0;
    }

    @include media-down(xs) {
      margin-bottom: 40px;
      height: 60px;
      padding: 0;
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__clear {
    user-select: none;
    font-size: 14px;
    text-align: right;
    color: #313131;
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0.5;

    .icon {
      width: 8px;
      height: 8px;
      color: #313131;
      position: relative;
      top: 1px;
    }

    @include media-down(xs) {
      display: none;
    }
  }

  &__open {
    user-select: none;
    font-family: $font;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: #313131;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    cursor: pointer;

    .icon {
      color: #313131;
      width: 10px;
      height: 8px;
      position: relative;
      top: 1px;
    }
  }
}

.sort {
  position: relative;
  user-select: none;

  &__title {
    cursor: pointer;
    color: #313131;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    .icon {
      width: 10px;
      height: 8px;
      transform: rotate(-90deg);
      transition: 300ms;
    }
  }

  &__list {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.09);
    z-index: 10;
    width: 208px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding: 0;
    margin: 0;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;

    @include media-down(md) {
      left: 0;
      transform: none;
    }

    li {
      &:not(&:last-child) {
        a {
          border-bottom: 1px solid rgba(#000000, .1);
        }
      }
    }

    a {
      padding: 20px 10px;
      width: 100%;
      text-align: center;
      transition: 300ms;

      @include media-down(md) {
        padding: 15px 10px;
      }

      &:hover {
        background: #F4F4F4;
      }
    }
  }

  &--active {
    .sort__list {
      opacity: 1;
      visibility: visible;
      top: 55px;

      @include media-down(md) {
        top: 40px;
      }
    }

    .sort__title {
      .icon {
        transform: rotate(-90deg) scaleX(-1);
      }
    }
  }
}


.layout {
  display: none;
  align-items: center;
  gap: 10px;

  @include media-down(xs) {
    display: flex;
  }

  &__item {
    color: #C4C4C4;

    &--active {
      color: #282828;
    }

    .icon {
      height: 20px;
      width: 20px;
    }
  }
}


.dialog {
  $root: &;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  visibility: hidden;
  z-index: -1;
  transition: 300ms;


  &__main {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: #FCFCFA;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.09);
    max-width: 513px;
    width: 100%;
    z-index: 2;
    padding: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 300ms;

    @include media-down(md) {
      max-width: 360px;
      padding: 25px 0 0 0;
    }
  }

  &__container {
    padding: 0 50px;

    @include media-down(md) {
      padding: 0 40px 0 30px;
    }
  }

  &__header {
    margin-bottom: 53px;

    @include media-down(md) {
      margin-bottom: 46px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #313131;

    @include media-down(md) {
      font-size: 14px;
      line-height: 150%;
    }
  }

  &__close {
    padding: 0;
    margin: 0;

    .icon {
      width: 17px;
      height: 17px;

      @include media-down(md) {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__scrollbar {
    overflow-y: auto;
    height: 100%;
    margin-bottom: 13px;
  }

  &__footer {
    border-top: 1px solid rgba(#000000, .1);
  }

  &__section {
    &:not(:last-child) {
      margin-bottom: 60px;

      @include media-down(md) {
        margin-bottom: 50px;
      }
    }
  }

  &__wrapper {
    padding-bottom: 35px - 13px;
  }

  &__caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #313131;
    margin-bottom: 20px;

    @include media-down(md) {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 150%;
    }

    &--mb30 {
      margin-bottom: 30px;

      @include media-down(md) {
        margin-bottom: 20px;
      }
    }
  }

  &--right {
    .dialog__main {
      left: initial !important;
      right: -100%;
    }
  }

  &--open {
    visibility: visible;
    z-index: 130;

    #{$root} {
      &__blackout {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }

      &__main {
        left: 0;
      }
    }

    &.dialog--right {
      .dialog__main {
        left: initial !important;
        right: 0 !important;
      }
    }
  }
}

.dialog-filter {

  &__section-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }

  &__section-sizes {
    display: grid;
    grid-template-columns: 55px 66px;
    grid-gap: 15px;
  }

  &__section-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
  }

  &__section-prices {
    max-width: 333px;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }

  &__clear {
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: $font;
    font-size: 14px;
    line-height: 130%;
    color: #313131;

    .icon {
      width: 8px;
      height: 8px;
    }
  }
}