include ../components/mixins/icon
header.header
    .container
        .header__wrapper
            nav.header__nav-top
                ul
                    li
                        a(href="") Магазины
                    li
                        a(href="") Доставка и оплата
                    li
                        a(href="") Контакты
            button.header__menu.header-open
                +icon("menu")
            button.header__search.header__icon.search-open
                +icon("search")
            form.header__search-form.search
                .container.search__container
                    .search__wrapper
                        input(type="search" placeholder="Поиск товара").search__field
                        button(type="submit").search__submit
                            +icon("search")
                .blackout.search-close
            div.header__phone
                a(href="tel:+78126158843" target="_blank") +7 (812) 615-88-43
            div.header__logotype
                a(href="/")
                    +icon("logo")
            a(href="#").header__profile.header__icon
                +icon("user")
            a(href="#").header__favorite.header__icon
                +icon("heart")
            a(href="#").header__cart.header__icon
                +icon("cart")
            .header__nav.header-menu
                .header-menu__container
                    span.header-menu__title Меню
                        .header-menu__close.header-close
                            +icon("close")
                    nav.header-menu__nav
                        ul
                            li
                                a(href="#") Новинки
                            li
                                a(href="#") Каталог
                            li
                                a(href="#") Сертификаты
                            li
                                a(href="#") Instashop
                            li.has-children
                                a(href="#")
                                    span Покупателям
                                ul
                                    li
                                        a(href="/") О Нас
                                    li
                                        a(href="#") Доставка и оплата
                                    li
                                        a(href="#") Как выбрать размер
                                    li
                                        a(href="#") Оферта
                                    li
                                        a(href="#") Гарантии и возврат
                                    li
                                        a(href="#") Магазины
                                    li
                                        a(href="#") Вакансии
                    .header-menu__icons
                        a(href="#").header-menu__profile.header-menu__icon
                            span
                                +icon("user")
                            | Войти / Создать
                        a(href="#").header-menu__favorite.header-menu__icon
                            span
                                +icon("heart")
                            | Вишлист
                        a(href="#").header-menu__cart.header-menu__icon
                            span
                                +icon("cart")
                            | Корзина
                        button.header-menu__search.header-menu__icon.search-open
                            span
                                +icon("search")
                            | Поиск
                .header-menu__container.header-menu__footer
                    p.header-menu__subtitle Связаться с нами:
                    a(href="tel:+78126158843" target="_blank").header-menu__phone +7 (812) 615-88-43
                    p.header-menu__subtitle Мы в месенджерах:
                    .socials
                        a(href="/").socials__item
                            +icon("vk")
                        a(href="/").socials__item
                            +icon("instagram")
                        a(href="/").socials__item
                            +icon("telegram")
                        a(href="/").socials__item
                            +icon("whatsapp")
            .blackout.header-close

