extends ../layout/default
include ../components/mixins/icon

block vars
    - pageClass = 'about'
    - headTitle = 'About'
block content
    .container
        include ../components/breadcrumbs
        .content
            h1 О НАС
            p Наши украшения находятся в сегменте demi-fine. Это лаконичные и доступные украшения, которые также производятся из драгоценных металлов и занимают нишу между бижутерией и высоким ювелирным искусством.
            p История Darkrain началась в 2016 году с идеи создания идеальной модели чокера, на данный момент наши магазины работают в Санкт-Петербурге, Москве и Екатеринбурге.
            p Наши изделия объединяет простота форм и качественные материалы: каждое украшение выполнено из серебра 925 пробы с родиевым покрытием либо позолотой. Нашим приоритетом являются доступные цены, качество украшений, лаконичный дизайн и вариативность изделий.
            p Мы ценим отечественных производителей, поэтому все наши изделия производятся на российских фабриках. На данный момент мы работаем с 15 производствами в центральной и южной части России. Это позволяет нам быть независимыми и подбирать украшения в разных ценовых категориях, чтобы качественные изделия были доступны каждому.
        include ../components/subscription