extends ../layout/default
include ../components/mixins/icon

block vars
    - pageClass = 'card'
    - headTitle = 'card'
block content
    .container
        include ../components/breadcrumbs
    include ../components/product-card
    include ../components/bestsellers
    include ../components/subscription