extends ../layout/default
include ../components/mixins/icon

block vars
    - pageClass = 'catalog'
    - headTitle = 'Catalog'
block content
    .container
        include ../components/breadcrumbs
        h1.page-title каталог
        include ../components/catalog/categories
        include ../components/product








