extends ../layout/default
include ../components/mixins/icon

block vars
    - pageClass = 'certificate'
    - headTitle = 'Certificate'
block content
    .container
        include ../components/breadcrumbs
        h1.page-title СЕРТИФИКАТ