extends ../layout/default
include ../components/mixins/icon

block vars
    - pageClass = 'home'
    - headTitle = 'Mainpage'
block content
    include ../components/banner
    include ../components/category
    include ../components/bestsellers
    include ../components/inspiration
    include ../components/fitting
    include ../components/certificates
    include ../components/subscription
