extends ../layout/default

block vars
    - pageClass = 'index'
    - headTitle = 'Links pages'
block content
    .container
        a(href='/home.html') Home
        br
        a(href='/catalog.html') Catalog
        br
        a(href='/card.html') Card
        br
        a(href='/order.html') Order
        br
        a(href='/new.html') New
        br
        a(href='/certificate.html') Certificate
        br
        a(href='/about.html') About
        br
        a(href='/size.html') Size
        br
        a(href='/care.html') Care
        br
        a(href='/addresses.html') Addresses