.banner {
  margin-bottom: 125px;
  background: url("@public/images/banner.png") no-repeat center;
  padding: 138px 0 135px;
  background-size: cover;

  @include media-down(md) {
    padding: 86px 0;
    margin-bottom: 68px;
  }

  &__title {
    margin: 100px 0 161px;
    font-family: $font-ledger;
    font-size: 56px;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 400;

    @include media-down(md) {
      margin: 156px 0 35px;
      font-size: 40px;
      line-height: 123.8%;
    }
  }

  &__year {
    font-family: $font-ledger;
    font-size: 22px;
    line-height: 123.8%;
    font-weight: 400;

    @include media-down(md) {
      font-size: 16px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 106%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #313131;

    .icon {
      margin-left: 20px;
      width: 13px;
      height: 13px;
    }
  }
}