.bestsellers {
  margin-bottom: 100px;

  @include media-down(md) {
    margin-bottom: 70px;
  }

  @include media-down(xs) {
    margin-bottom: 60px;
  }

  .slider__arrow {
    top: 40%;

    @include media-down(md) {
      top: 50%;
    }
  }

  .container {
    @include media-down(xs) {
      position: relative;

      padding-bottom: 60px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font;
    font-weight: 700;
    font-size: 16px;
    line-height: 106%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #313131;
    gap: 26px;

    .icon {
      width: 13px;
      height: 13px;
    }

    @include media-down(xs) {
      position: absolute;
      bottom: 0;
      left: 15px;
    }
  }
}