.bestsellers {
  margin-bottom: 100px;

  @include media-down(md) {
    margin-bottom: 70px;
  }

  @include media-down(xs) {
    margin-bottom: 60px;
  }

  .slider__arrow {
    top: 40%;

    @include media-down(md) {
      top: 50%;
    }
  }

  .container {
    @include media-down(xs) {
      position: relative;

      padding-bottom: 60px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font;
    font-weight: 700;
    font-size: 16px;
    line-height: 106%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #313131;
    gap: 26px;

    .icon {
      width: 13px;
      height: 13px;
    }

    @include media-down(xs) {
      position: absolute;
      bottom: 0;
      left: 15px;
    }
  }
}

.product {
  position: relative;
  width: 300px;

  @include media-down(md) {
    width: 220px;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 40px;
    right: 0;
    z-index: 1;

    @include media-down(md) {
      bottom: 0;
    }
  }

  &__slide-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &__badges {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 34px;
    z-index: 3;
  }

  &__badge {
    background: #FFFFFF;
    border-radius: 2px;
    padding: 5px 8px 4px 8px;
    font-size: 16px;
    line-height: 130%;
    color: #313131;
    font-weight: 500;
  }

  &__like {
    &--active {
      svg {
        fill: #000;
      }
    }

    .icon {
      width: 18px;
      height: 18px;
    }
  }

  &__header {
    position: relative;
  }

  &__main {
    @include media-down(md) {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      gap: 10px;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 353px;
    transition: 300ms;

    @include media-down(md) {
      height: 280px;
    }
  }

  &:hover {
    .product__image {
      transform: scale(1.1);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;

    @include media-down(md) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 188%;
    text-transform: uppercase;
    color: #313131;
    font-weight: 700;

    @include media-down(md) {
      font-size: 14px;
      line-height: 214%;
    }
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @include media-down(md) {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #313131;

    & > span {
      font-size: 18px;
      line-height: 167%;
      color: #313131;
      margin-left: 5px;
    }

    &--sale {
      font-weight: normal;
      font-size: 20px;
      line-height: 150%;
      color: #313131;
      opacity: 0.5;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        border-bottom: 1px solid #969695;
      }

      & > span {
        font-size: 18px;
        line-height: 167%;
        color: #313131;
      }
    }
  }

  &__category {
    font-size: 16px;
    line-height: 188%;
    color: #313131;
    opacity: 0.5;

    @include media-down(md) {
      font-size: 14px;
    }
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 30px;

    @include media-down(md) {
      display: none;
    }
  }

  &__cart {
    font-weight: 500;
    font-size: 16px;
    line-height: 106%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #313131;

    .icon {
      width: 18px;
      height: 15px;
      margin-right: 18px;
    }
  }

  &__pay {
    font-weight: 500;
    font-size: 16px;
    line-height: 106%;
    letter-spacing: 0.01em;
    color: #313131;
    text-decoration: underline;
  }

  &__swiper {
    @include media-down(md) {
      padding-bottom: 25px;
    }
  }
}


.product-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 11px;
  z-index: 2;

  @include media-down(md) {
    padding: 0 23px;
  }

  .swiper-pagination-bullet {
    background: #FFFFFF;
    opacity: 0.5;
    width: 100%;
    border-radius: 0;
    height: 2px;

    @include media-down(md) {
      background: #484848;
      opacity: 0.2;
    }

    &-active {
      background: #484848;
      opacity: 1;
    }
  }
}