.category {
  margin-bottom: 130px;

  @include media-down(md) {
    margin-bottom: 47px;
  }

  @include media-down(xs) {
    margin-bottom: 60px;
  }
}

.slider {
  position: relative;

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;

    &--prev {
      left: -40px;
    }

    &--next {
      right: -40px;
    }

    .icon {
      width: 13px;
      height: 13px;
      color: #000000;
    }

    &:after {
      content: none;
    }

    @include media-down(md) {
      display: none;
    }
  }
}

.category-item {
  position: relative;
  width: 407px;

  @include media-down(md) {
    width: 273px;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__image {
    max-width: 100%;
    height: 544px;
    overflow: hidden;

    @include media-down(md) {
      height: 365px;
    }

    img {
      transition: 300ms;
    }
  }

  &:hover {
    .category-item__image img {
      transform: scale(1.1);
    }
  }

  &__title {
    font-size: 24px;
    line-height: 125%;
    text-transform: uppercase;
    color: #313131;
    font-weight: 500;
    margin-top: 20px;

    @include media-down(md) {
      font-size: 16px;
      line-height: 120%;
      margin-top: 10px;
    }
  }
}