.custom-select-container {
  position: relative;
  box-sizing: border-box;;
}

.custom-select-container * {
  box-sizing: border-box;
}

.custom-select-container.is-disabled {
  opacity: .333;
}

.custom-select-opener {
  padding: 0.5em 4em 0.5em 0;
  display: block;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgba(#000, .2);
  position: relative;

  &:before {
    content: '';
    background-image: url('@images/arrow.png');
    width: 20px;
    height: 10px;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    transition: 300ms;
  }
}

.custom-select-container.is-open .custom-select-opener {
  &:before {
    transform: translateY(-50%) scaleY(-1);
  }
}

.custom-select-container select {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-select-panel {
  max-height: 0;
  transition: .3s;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
}

.custom-select-container.is-open .custom-select-panel {
  max-height: 12em;
  overflow-y: auto
}

.custom-select-option {
  padding: 0.5em;
  cursor: pointer;
}

.custom-select-option.has-focus {
  background-color: #E6E6E6;
}

.custom-select-option.is-selected::before {
  content: "✔";
  padding-right: 0.5em;
}

.custom-select-optgroup > .custom-select-option {
  padding-left: 2em;
}

.custom-select-optgroup::before {
  content: attr(data-label);
  display: block;
  padding: 0.5em;
  color: #888;
}
