.field {
  border: 1px solid #C4C4C4;
  height: 55px;
  padding: 0 31px;
  font-weight: normal;
  font-size: 14px;
  transition: 300ms;

  &::placeholder {
    color: #747474;
    opacity: 1;
  }

  &:focus {
    border-color: #000;
  }

  @include media-down(md) {
    padding: 0 17px;
  }
}

.field-checkbox {
  display: flex;
  align-items: center;

  & > input {
    width: auto;
  }
}

.field-radio {
  display: flex;
  align-items: center;

  & > input {
    width: auto;
  }
}