.icon {
  display: inline-block;

  &--search {
    width: 15px;
    height: 15px;
  }

  &--user {
    width: 15px;
    height: 15px;
  }

  &--logo-2 {
    width: 167px;
    height: 142px;

    @include media-down(md) {
      height: 95px;
      width: 112px;
    }
  }

  &--vk, &--instagram, &--telegram, &--whatsapp {
    height: 36px;
    width: 36px;
  }

  &--serenity {
    height: 28px;
    width: 104px;
  }

  &--seperator {
    height: 8px;
    width: 5px;
  }

  &--heart {
    height: 42px;
    width: 42px;
  }
  &--info{
    height: 19px;
    width: 19px;
  }
  &--question{
    height: 16px;
    width: 16px;
  }

  &--number-1, &--number-2, &--number-3, &--number-4, &--number-5, &--number-6 {
    width: 32px;
    height: 40px;
  }
}