/* COMPONENTS STYLES */
@import "icon";
@import "buttons";
@import "logotype";
@import "banner";
@import "category";
@import "bestsellers";
@import "product";
@import "inspiration";
@import "fitting";
@import "certificates";
@import "subscription";
@import "form";
