.inspiration {
  margin-bottom: 268px;

  @include media-down(md) {
    margin-bottom: 70px;
  }

  @include media-down(xs) {
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 0;
  }

  .swiper-slide {
    width: 298px;
    height: 301px;
    overflow: hidden;

    @include media-down(md) {
      width: 248px;
      height: 250px;
    }

    img {
      transition: 300ms;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }



  .container {
    @include media-down(xs) {
      position: relative;
      padding-bottom: 40px;
    }
  }

  &__wrapper {
    margin-bottom: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    @include media-down(md) {
      margin-bottom: 20px;
    }

    @include media-down(xs) {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .icon {
      margin-left: 29px;
      width: 13px;
      height: 13px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 188%;
    color: #313131;
  }

  &__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 106%;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #313131;

    @include media-down(xs) {
      position: absolute;
      bottom: 0;
      left: 15px;
    }
  }
}
