.subscription{
  margin-top: 70px;
  display: flex;
  max-width: 792px;
  margin-bottom: 100px;
}
.subscription__title{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #313131;
}

