$font-directory: "../../public/fonts";

@font-face {
    font-family: "Ledger";
    src: url("#{$font-directory}/ledger.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("#{$font-directory}/museo-sans-cyrl-100.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}


@font-face {
    font-family: "MuseoSansCyrl";
    src: url("#{$font-directory}/museo-sans-cyrl-300.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("#{$font-directory}/museo-sans-cyrl-500.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("#{$font-directory}/museo-sans-cyrl-700.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}