.title {
  font-family: $font-ledger;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #313131;
  margin-bottom: 45px;

  @include media-down(md) {
    font-size: 20px;
    line-height: 123.8%;
    margin-bottom: 20px;
  }
}

.page-title {
  font-family: $font-ledger;
  font-weight: 400;
  font-size: 56px;
  line-height: 123.8%;
  color: #313131;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
