.banner(style="background-image: url('"+require("@public/images/banner.png")+"')")
    .container
        p.banner__year 2021
        h1.banner__title New
            br
            | collection
        a(href="#").banner__link New
            +icon("new")