.certificates
    .container.certificates__container
        .certificates__wrapper
            .certificates__content
                h2.title.certificates__title
                    span Подарочные
                    span Сертификаты
                a(href="#").certificates__link ПРИОБРЕСТИ
                    +icon("new")
            div
                img(src=require("../../public/images/certificates.png") alt="").certificates__image

