.certificates
    .container
        .certificates__wrapper
            certificates__content
                h2.title Подарочные
                    br
                    |
                    span
                    |Сертификаты
                a(href="#").certificates__link ПРИОБРЕСТИ
                    +icon("new")
            img(src=require("../../public/images/certificates.jpg") alt="").certificates__image

