.collections
    div.collection.collection--first
        img(src=require("../../public/images/collection-1.png")).collection__image
        .collection__wrapper
            h2.collection__title ПЕЧАТКИ
            a(href="#").collection__link Смотреть коллекцию
    div.collection.collection--second
        img(src=require("../../public/images/collection-2.png")).collection__image
        .collection__wrapper
            h2.collection__title УКРАШЕНИЯ НА КАЖДЫЙ ДЕНЬ
            a(href="#").collection__link Смотреть коллекцию
    div.collection.collection--third
        img(src=require("../../public/images/collection-3.png")).collection__image
        .collection__wrapper
            h2.collection__title ВАРИАТИВНЫЕ УКРАШЕНИЯ
            a(href="#").collection__link Смотреть коллекцию
    div.collection.collection--fourth
        img(src=require("../../public/images/collection-4.png")).collection__image
        .collection__wrapper
            h2.collection__title ПОЛУДРАГОЦЕННЫЕ КАМНИ
            a(href="#").collection__link Смотреть коллекцию