.inspiration
    .container
        h2.title ВДОХНОВЛЯЙТЕСЬ И ПОКУПАЙТЕ
        .inspiration__wrapper
            p.inspiration__text Покупка украшений из instagram
            a(href="#").inspiration__link СМОТРЕТЬ instashop
                +icon("new")
        .slider
            .swiper.inspiration__swiper
                .swiper-slide.photo
                    a(href="#").photo__link
                        img(src=require("../../public/images/inspiration-1.jpg") alt="").photo__image
                .swiper-slide.photo
                    a(href="#").photo__link
                        img(src=require("../../public/images/inspiration-1.jpg") alt="").photo__image
