.processing
    .processing__wrapper
        .processing__ordering
            .processing__contacts
                h3.processing__title КОНТАКТНАЯ ИНФОРМАЦИЯ:
                input(type="email" placeholder="Электронный адрес (еmail) *").
                .processing-package
                    label.field-checkbox
                        input(type="checkbox")
                        p Получать новости и специальные предложения
                .processing__contact
                    input(type="text" placeholder="Имя *" required)
                    input(type="text" placeholder="Город *" required)
                    input(type="text" placeholder="Фамилия *" required)
                    input(type="phone" placeholder="Мобильный телефон *" required)
            .processing__delivery
                h3.processing__title Доставка:
                    label.field-radio
                        input(type="radio" name="delivery" value="1")
                        p Пункт выдачи СДЭК (Выбрать пункт выдачи)
                    label.field-radio
                        input(type="radio" name="delivery" value="2")
                        p Курьером до двери
                    label.field-radio
                        input(type="radio" name="delivery" value="3")
                        p Самовывоз из магазина (Санкт-Петербург, Набережная канала Грибоедова 99, 2 этаж)
                    label.field-radio
                        input(type="radio" name="delivery" value="3")
                        p Самовывоз из магазина (Москва, Оружейный переулок, 5)
                    label.field-radio
                        input(type="radio" name="delivery" value="4")
                        p Самовывоз из магазина (Москва, Новодмитровская 1, стр. 23 )
            .processing__address
                h3.processing__title Адрес:
                input(type="text" name="address" placeholder="Улица, дом, квартира *").
            .processing__payment
                h3.processing__title Способ оплаты:
                label.field-radio
                    input(type="radio" name="pay" value="1" checked)
                    p Оплата при получении
        .basket
            .basket__options
                p.basket__text В корзине 2 товара
                a(href="#").basket__editing Редактировать товары
            .basket__items
                .basket-item
                    .basket-item__image
                        img(src=require("../../public/images/product.jpg") alt="")
                    .basket-item__info
                        p.basket-item__name COHOE
                        p.basket-item__corps Серьги из серебра
                        p.basket-item__article арт. A3051
                    .basket-item__attr
                        p.basket-item__amount Количество
                        p.basket-item__unit 1 шт.
                        p.basket-item__price 1850
                            span руб
            .basket__coupon
                input(type="text" placeholder="Код купона").
                button(type="submit") Применить
            .basket__check
                div
                    p.basket__calculation Сумма:
                    p.basket__result 1860 руб
                div
                    p.basket__calculation Доставка:
                    p.basket__result 540 руб
                div
                    p.basket__calculation Скидки:
                    p.basket__result -340 руб
                div.processing-total
                    p.procedding-total__check Итого:
                    p.processing-total__result 1850
                        span руб
                    button(type='submit').btn.btn--dark Оформить заказ






