.subscription
    .container.subscription__container
        .subscription__wrapper
            h3.subscription__title Подпишитесь на рассылку, чтобы первыми
                br
                | узнавать о новинках, сезонных распродажах
                br
                | и секретных промокодах.
            form.subscription__form
                input(type="email" placeholder="Ваш e-mail").field
                button(type='submit').btn.btn--dark Подписаться
