.subscription
    .container
        .subscription__wrapper
            h3.subscription__title Подпишитесь на рассылку, чтобы первыми
                br
                |узнавать о новинках, сезонных распродажах
                br
                |и секретных промокодах.
            //*form(action="/" method="post").subscribe__login
                imput(type="email" placeholder="Ваш e-mail")
                    +bottom.btn(type="submit")
                input(type='submit', value='Submit')*//
